<div id="yakutia-map-container">
    <!--<button id="placeUnitButton" type="button" class="btn btn-primary" style="display: none;">-->
        <!--Place units-->
    <!--</button>-->
    <!--<button id="attackButton" type="button" class="btn btn-primary" style="display: none;">-->
        <!--Attack-->
    <!--</button>-->
    <!--<button id="moveUnitButton" type="button" class="btn btn-primary" style="display: none;">-->
        <!--Move units-->
    <!--</button>-->
    <!--<img class="map maphilighted" border="0" src="img/yakutiaMap.png" usemap="#gamemap">-->
    <!--<div class="row">-->
        <!--<div class="span8">-->
            <!--<div id="landinfo" class="well">Hoover over map for info</div>-->
        <!--</div>-->
    <!--</div>-->
    <div id="gamemap">
    </div>
</div>