<div class="row">
    <div class="col-md-4">
        <button id="createNewGame" type="button" class="btn btn-primary" disabled="disabled">
            Create game
        </button>
        <input type="text" class="form-control" placeholder="Game name" id="gameName">
        <div class="panel panel-primary">
            <div class="panel-heading">Players in game</div>
            <table class="table" id="gamePlayers">
                <tr>
                    <th>Player</th>
                    <th>Decline?</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Invites</div>
            <table class="table" id="inviteToGame">
                <tr>
                    <th>Player</th>
                    <th>Invite to game?</th>
                </tr>
            </table>
        </div>
    </div>
</div>