<input type="search" class="form-control" placeholder="Text input">
<div class="friendsClass">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">No friends yet</div>
                <table class="table" id="nonFriendPlayers">
                    <tr>
                        <th>Player</th>
                        <th>Action</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>