<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Active games</div>
            <table class="table" id="activeGameTable">
                <tr>
                    <th>Name</th>
                    <th>Started</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </table>
            </br>
            </br>
            </br>
            <div class="panel-heading">Not started games</div>
            <table class="table" id="nonActiveGameTable">
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </table>
            </br>
            </br>
            </br>
            <div class="panel-heading">Invites</div>
            <table class="table" id="inviteGamesTable">
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </table>
        </div>
    </div>
</div>