<div class="friendsClass" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Friend invites</div>
                <table class="table" id="friendInvites">
                    <tr>
                        <th>Player</th>
                        <th>Accept?</th>
                        <th>Decline?</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Friend list</div>
                <table class="table" id="friendsForReals">
                    <tr>
                        <th>Player</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>