
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Hey there!</h4>
                <h2 class="modal-header">Please provide a player name</h2>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input id="yakutia-playername" type="text" class="form-control" placeholder="Player name">
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
